/* Variables */
:root {
  --marker-diameter: 40px;
  --translate-init: translate(0px, 0px);
  --marker-bg-color: blue;
  --marker-txt-color: white;
  --marker-border-color: black;
  --ballhandler-bg-color: rgb(207, 83, 0);
  --ballhandler-txt-color: white;
}

#wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#court {
  flex: 1;
  background-image: url('/assets/media/fullcourt.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-width: 700px;
  height: 100vh;
  position: relative;
}

.player, .ball {
  position: absolute;
  width: var(--marker-diameter);
  height: var(--marker-diameter);
  border: var(--marker-border-color) 1px solid;
  color: var(--marker-txt-color);
  text-align: center;
  vertical-align: middle;
  line-height: var(--marker-diameter);
  text-transform: uppercase;
  font-size: 22px;
  border-radius: calc(var(--marker-diameter) / 2);

  /* Initial translations */
  -o-transform      : var(--translate-init);
  -webkit-transform : var(--translate-init);
  -moz-transform    : var(--translate-init);
  -ms-transform     : var(--translate-init);
  transform         : var(--translate-init);

  /* Prevent user-select on text */
  -moz-user-select    : none;
  -webkit-user-select : none;
  -ms-user-select     : none;
  -o-user-select      : none;
  user-select         : none;
}

.player {
  background-image: radial-gradient(var(--marker-bg-color) 0%, var(--marker-bg-color) 30%, black 100%);
}

.ball {
  background-image: url('/assets/media/basketball.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.ballhandler {
  background-image: radial-gradient(var(--ballhandler-bg-color) 0%, var(--ballhandler-bg-color) 30%, black 100%);
  color: var(--ballhandler-txt-color);
}

#ctrls {
  flex: 1;
}

.ctrl-card {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

a {
  cursor: pointer;
}

/* Use hover property to show passing option */
.passCandidate:hover > div {
  background-color: var(--ballhandler-bg-color);
  color: var(--ballhandler-txt-color);
}