<div class="card ctrl-card">
  <h5 class="card-header">Pens</h5>
  <div class="card-body">
    <div class="list-group" id="markerCtrls">
      <button type="button" id="move" class="list-group-item list-group-item-action active">Move</button>
      <button type="button" id="screen" class="list-group-item list-group-item-action">Screen</button>
      <button type="button" id="pass" class="list-group-item list-group-item-action">Pass</button>
    </div> <!-- // #markerCtrls -->
  </div>
</div> <!-- // .ctrl-card -->

<div class="card ctrl-card">
  <h5 class="card-header">Stages</h5>
  <div class="card-body">
    <div class="list-group" id="stageCtrls">
      <button type="button" id="undoFrame" class="list-group-item list-group-item-action">Undo Frame</button>
      <button type="button" id="saveFrame" class="list-group-item list-group-item-action">Save Frame</button>
      <button type="button" id="replay" class="list-group-item list-group-item-action">Replay</button>
    </div> <!-- // #stageCtrls -->
  </div>
</div> <!-- // .ctrl-card -->