<div class="card ctrl-card">
  <h5 class="card-header">Pens</h5>
  <div class="card-body">
    <div class="row">
      <div class="col ctrlWrapper">
        <a class="penButton" id="move"></a>
        Move
      </div> <!-- // .ctrlWrapper #move -->
      <div class="col ctrlWrapper">
          <a class="penButton" id="screen"></a>
        Screen
      </div> <!-- // .ctrlWrapper #screen -->
      <div class="col ctrlWrapper">
        <a class="penButton" id="pass"></a>
        Pass
      </div> <!-- // .ctrlWrapper #pass -->
    </div> <!-- // .row -->
  </div> <!-- // .card-body -->
</div> <!-- // .ctrl-card (pens) -->

<div class="card ctrl-card">
  <h5 class="card-header">
    Current Stage 
    <span ng-if="hasUnsavedChanges" class="badge badge-danger" id="stageUnsaved">unsaved</span></h5>
  <div class="card-body">
    <form>
      <div class="form-group">
        <textarea ng-disabled="currFrame !== totalFrames" class="form-control" id="stageAnalysis" placeholder="Analysis" rows="3"></textarea>
      </div>
    </form>

    <div ng-show="currFrame === totalFrames" class="row">
      <div class="col ctrlWrapper">
        <a class="stageButton" id="undoFrame"></a>Undo Stage
      </div>
      <div class="col ctrlWrapper">
        <a class="stageButton" id="saveFrame"></a>Save Stage
      </div>
      <div class="col ctrlWrapper"></div>
    </div>

    <div ng-show="currFrame !== totalFrames" class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Cannot edit previous frame!</h4>
      <p>Unfortunately, editing previous frames is not a supported feature in this release.</p>
    </div>

  </div> <!-- // .card-body -->
</div> <!-- // .ctrl-card (current frame) -->

<div class="card ctrl-card">
  <h5 class="card-header">Play</h5>
  <div class="card-body">
    <div ng-show="hasUnsavedChanges" class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Unsaved Frame</h4>
      <p>Play management only enabled when your current frame is saved.</p>
      <hr>
      <p class="mb-0">Tip: you can discard your current change by pressing "Undo Frame".</p>
    </div> <!-- // ng-if (edit mode) -->

    <div ng-show="!hasUnsavedChanges">
      <div class="input-group input-group-lg mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" id="btnPrevFrame" ng-disabled="currFrame === 1"><i class="fas fa-backward"></i></button>
        </div> <!-- // input-group-prepend (prev frame) -->
        <input type="text" class="form-control" id="frameIndicator" value="{{currFrame}} of {{totalFrames}}" readonly>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="btnNextFrame" ng-disabled="currFrame === totalFrames"><i class="fas fa-forward"></i></button>
        </div> <!-- // .input-group-append (next frame) -->
      </div> <!-- // .input-group (frame controls) -->
    
      <div class="row">
        <div class="col ctrlWrapper">
          <a class="playButton" id="replay"></a>Replay
        </div> <!-- // .ctrlWrapper (replay) -->
        <div class="col ctrlWrapper">
          <a class="playButton" id="savePlay" data-toggle="modal" data-target="#savePlayModal"></a>Save
        </div> <!-- // .ctrlWrapper (save play) -->
        <div class="col ctrlWrapper">
          <!-- <a class="playButton" id="exportPlay"></a>Export -->
        </div> <!-- // .ctrlWrapper (export) -->
      </div>
    </div>

  </div> <!-- // ng-if (replay mode) -->
</div> <!-- // .ctrl-card (play) -->

<!-- Save Play Modal -->
<div class="modal fade" id="savePlayModal" tabindex="-1" role="dialog" aria-labelledby="savePlayModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="savePlayModalLabel">Save Play</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="playName">Name of play</label>
            <input type="text" class="form-control" id="playName" required>
          </div>
          <div class="form-group">
            <label for="playDescription">Description of play</label>
            <textarea class="form-control" id="playDescription" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="sendPlayToServer" disabled>Save Play</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card ctrl-card">
  <h5 class="card-header">Stages</h5>
  <div class="card-body">
    <div class="list-group" id="stageCtrls">
      <button type="button" id="undoFrame" class="list-group-item list-group-item-action">Undo Frame</button>
      <button type="button" id="saveFrame" class="list-group-item list-group-item-action">Save Frame</button>
      <button type="button" id="replay" class="list-group-item list-group-item-action">Replay</button>
    </div> 
  </div>
</div> -->