<div class="card ctrl-card" id="initCtrls">
  <h5 class="card-header">Setup</h5>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="ballHandler">Ball Handler</label>
        <select id="initBallHandler" class="form-control"></select>
      </div> <!-- // .form-group -->

      <div class="btn-group d-flex" role="group" aria-label="Basic example">
        <button class="btn btn-danger" id="resetState">Reset</button>
        <button class="btn btn-primary" id="saveState">Save</button>
      </div> <!-- // .btn-group -->
    </form> <!-- // form -->

  </div> <!-- // .card-body -->
</div> <!-- // #initCtrls -->